/* body {background:url("../img/bgpatternlighter.png")repeat;} */
body {background: rgb(15, 15, 15);color:#fff}

body section > div > div {
    background: rgb(48, 48, 48);
    color:#fff;

}

#styleChange a:visited, #styleChange a:active, #styleChange a {
    color:#cacaca;
}



.imgBreak {
    background: url(../img/Clouds-over-Farm.jpg) no-repeat center;
    min-height:200px;
    margin-bottom: 1.5em;
    background-size: cover;
    background-position-y: -147px;
}


 