/* body {background:url("../img/bgpatternlighter.png")repeat;} */
body {background: rgb(245, 244, 244);color:rgb(39, 39, 39);}

body section > div > div {
    background: rgb(221, 221, 221);
    color:rgb(39, 39, 39);
    /* width:80vw; */
}

#styleChange a:visited, #styleChange a:active, #styleChange a {
    color:#cacaca;
}

.imgBreak {
    background: url(../img/bicycle.jpg) no-repeat;
    height:200px;
    margin-bottom: 1.5em;
    background-size: 800px auto;
    background-position-y: -329px;
    background-position-x: center;

}

/* li.project:hover {
    border:orange solid .225em;
} */

@media only screen and (max-width:650px) {
    .imgBreak {background-position-x: -147px;}
}