/* body {background:url("../img/bgpatternlighter.png")repeat;} */
body {background: rgb(245, 244, 244);color:rgb(39, 39, 39);}

body section > div > div {
    background: rgb(221, 221, 221);
    color:rgb(39, 39, 39);
    /* width:80vw; */
}

#styleChange a:visited, #styleChange a:active, #styleChange a {
    color:#cacaca;
}

.imgBreak {
    background: url(../img/bicycle.jpg) no-repeat center;
    min-height:200px;
    margin-bottom: 1.5em;
    background-size: cover;
    background-position-y: -242;
}