@media only screen and (max-width: 850px) {
  .project {
    max-width: 44.5%;
  }
  li.project:nth-child(even) {
    float: right;
  }
}

@media only screen and (max-width: 650px) {
  .project {
    width: 86%;
    float: none;
    max-width: 25em;
    /* 
    overflow: hidden;
    padding: 1.5em;
    border-radius: 0.5em;
    list-style: none;
    position: relative; */
  }

  li.project:nth-child(odd),
  li.project {
    margin: 0 auto 1.5em;
  }
}
li.project:nth-child(even) {
  float: none;
}

.project .thumbs {
}

@media only screen and (max-width: 550px) {
  section,
  .imgBreak,
  .animatedLoader {
    width: 95vw;
  }
}
