/* body {background:url("../img/bgpatternlighter.png")repeat;} */
body {background: rgb(15, 15, 15);color:#fff}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: none;
 }
body section > div > div, .imgBreak{
    background: rgb(48, 48, 48);
    color:#fff;
    /* width:80vw; */
    max-width: 54em;
    margin:0 auto 1.5em;
    box-sizing: border-box;
    padding: 1.5em;
    border-radius: 1em;
}

.wrapper{
    margin: 0 auto;
    padding:0 0em;
}

section, .imgBreak{width:80vw; margin:0 auto;max-width: 54em}
#about {margin-top:11em;}
.about {
    /* max-width: 36.5em; */
    min-height: 10em;
    width:77%;
    height: 100%;
    margin-right:0;
    display: inline-block;
    float: right;
    position: relative;
    top:0;
    right:0;
}
.portrait {
    width:20%;
    overflow: hidden;
    background: url(../img/portrait-001-3.jpg) center/108% no-repeat;
    float:left;
}

.imgBreak {
    background: url(../img/atlFarm.jpg) no-repeat center;
    min-height:100px;
    margin-bottom: 1.5em;
}


#styleChange {
    position: absolute;
    bottom: -1em;
    right: 0em;
}

#styleChange a:visited, #styleChange a:active, #styleChange a {
    color:#cacaca;
}

#styleChange :hover {
    cursor: pointer;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
 }