
body {font-size: .875rem; background:#eee; color: rgb(31, 31, 31);}
    .animatedLoader {
        width:80vw;
        max-width: 54em;
        height:80vh;
        z-index: 90;
        background-color: rgb(0, 21, 40, .92);
        border-radius: 2em;
        color: rgb(90, 190, 248);
        margin:0 auto;
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        animation: shrink .5s ease-out 4.5s 1 forwards,
        slidetop .5s ease-out 5s 1 forwards;
    }

    @keyframes shrink {
        100% {height: 160px;}
    }
    @keyframes slidetop {
        100% {top:0;left:50%;margin-top:4em;border-radius:1em;}
    }

    .svgWrap{position: relative; width:85%; height:50%; margin:3.2em 3.1em;}
   
    .animationCanvas{
        position: absolute;
        top:0;
        left:1.5em;
    } 
    
    .cursor {
        fill:rgb(255, 248, 220);
        height:1.5em;  
        width:.8em;
        animation: blink 1.5s steps(2) 0s infinite,
            moveRight 2.85s steps(10) .9s 1 normal forwards,
            moveDown .6s step-start 3.75s 1 normal forwards;
        z-index: 100;
        position: relative;
        top:-.5em;
    }
  
    @keyframes blink {
         0% {fill:rgba(255, 248, 220, 1);}
        100% {fill:rgba(255, 248, 220, 0);}
    }
    @keyframes moveRight {
        /*100% {transform: translateX(14.8em);}*/
        /*0% {transform: translateX(0em);}
        20% {transform: translateX(1.5em);}
        30% {transform: translateX(1.5em);}
        40% {transform: translateX(1.5em);}
        50% {transform: translateX(1.5em);}
        60% {transform: translateX(1.5em);}
        70% {transform: translateX(1.5em);}
        80% {transform: translateX(1.5em);}
        90% {transform: translateX(1.5em);}*/
        100% {transform: translateX(14.7em);}
    }

    @keyframes moveDown {
        0% {transform: translateX(14.7em);}
        50% {transform: translateX(-14.7em); transform:translateY(1.5em);}
        100% {transform: translateY(5.0em);}
    }
    .textAnimation {
       position: absolute;
       top:0;
       left:1.2em;
       
       /*  position: fixed;
        top:3rem;
        left:4rem; */
        font-size: 1.5em;
        font-family: monospace;
    }
    .textAnimation span { 
        opacity: 0;
        z-index: 95;
        animation: typeOn .5s steps(1) .9s 1 normal forwards;
    }
    @keyframes typeOn {
        100% {opacity: 1;}
    }
    .prompt{color:orange;}
    .describeDave {
        color: orange;
        clear:left;
        display: block;
        position: absolute;
        top: 2.25rem;
        left: 4rem;
        font-size: 2em;
        visibility: hidden;
        animation: showVisible .5s step-start 4s 1 forwards;
    }
@keyframes showVisible {
    100% {visibility: visible;}
}
    .textAnimation span:nth-child(2) {animation-delay:1.05s;}
    .textAnimation span:nth-child(3) {animation-delay:1.35s;}
    .textAnimation span:nth-child(4) {animation-delay:1.65s;}
    .textAnimation span:nth-child(5) {animation-delay:1.95s;}
    .textAnimation span:nth-child(6) {animation-delay:2.25s;}
    .textAnimation span:nth-child(7) {animation-delay:2.55s;}
    .textAnimation span:nth-child(8) {animation-delay:2.75s;}
    .textAnimation span:nth-child(9) {animation-delay:2.95s;}
    .textAnimation span:nth-child(10) {animation-delay:3.25s;}


  

